/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

h1{
  color: blueviolet;
  font-size: large;
  font-family: 'Times New Roman';
  margin-left: 110px;
}


#super{
  color: red;
  font-size: large;
  font-family: 'Times New Roman';
}

h3{
  color:green;
  font-size: large;
  font-family:'Times New Roman';
}

h4{
  color:purple;
  font-size: large;
  font-family: 'Times New Roman';
}

*{
  font-family: 'Times New Roman';
}

ol,ul{
  color:navy;
  font-size: large;
  font-family: 'Times New Roman';
}


img{
  height : 10%;
  width: 10%;
  border: 2px solid black;
  margin-left: 100px;
}
.ds{
  color:black;

}

.grid-container{
  display: grid;
  margin-top: 50px;
  margin-left: 235px ;
  grid-template-columns: auto auto auto;
  gap: 50px;
}

.grid-item{
  border: 5px solid black;
  text-align: center;
  background-color: blueviolet;
  font-size: 50px;
  padding: 20px;
























































  
}

.flex-container {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-left: 235px;
}

.flex-item{
  flex-basis: 445px;
  background-color: blueviolet;
  text-align: center;
  border: solid 5px black;
  font-size: 50px;
  padding: 20px;
}